.cars-button-list {
    background: #27293D;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
    width: 100%;
    border-radius: .2857rem;
    margin-bottom: 6%;
    height: 80px
}

.cars-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: .2857rem;
}

.cars-selector {
    width: 100%;
    border-radius: .2857rem;
}

.car-details {
    background: #1e1e2f;
    padding: 1px 0px;
    border-radius: .2857rem;
    width: 80%;
    margin: 10px auto
}