.grid {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    color: white;
    font-weight: 200;
}

.grid>* {
    margin: 0 auto;
    border-radius: .2857rem;
}

.grid>*:nth-child(1) {
    width: calc(100% / 4 * 1);
    background: #27293D;
}

.grid>*:nth-child(2) {
    width: calc(100% / 4 * 3);
    background: #27293D;
}