.grid {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    color: white;
    font-weight: 200;
}

.grid>* {
    margin: 0 auto;
    border-radius: .2857rem;
}

.grid>*:nth-child(1) {
    width: calc(100% / 3 * 1);
    background: #27293D;
}

.grid>*:nth-child(2) {
    width: calc(100% / 3 * 1);
    background: #27293D;
}

.grid>*:nth-child(3) {
    width: calc(100% / 3 * 1);
    background: #27293D;
}

.grid-car {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    color: white;
    font-weight: 200;
    border-radius: .2857rem;
}

.grid-car>*:nth-child(1) {
    width: calc(100% / 7 * 2);
    margin-right: 2%;
    border-radius: .2857rem;
}

.grid-car>*:nth-child(2) {
    border-radius: .2857rem;
    width: calc(100% / 7 * 5);
}

.car-details {
    background: #27293D;
}

.single-off-column {
    width: 35% !important;
    padding: 24px;
    text-align: left;
}

.home-details {
    text-align: right;
}

.grid-car2 {
    padding: 34px;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-left: 50px;
    color: white;
    font-weight: 200;
    border-radius: .2857rem;
}