nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background: #27293D;
    color: white;
    width: 90%;
    margin: 30px auto;
}

.route {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: white;
}