nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background: #27293D;
    color: white;
    width: 98%;
    margin: 30px auto;
    border-radius: .2857rem;
}

.route {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: white;
    font-weight: 200;
    font-size: 20px
}

.header-title {
    font-weight: 300
}

a {
    text-decoration: none;
}