.register-form {
    color: white;
    background-color: #27293D;
    width: 90%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    border-radius: .2857rem
}

input[type=text],
input[type=password] {
    background-color: #1e1e2f;
    color: white;
    border: 2px solid #1e1e2f;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0px 15px 0px;
}

.left-align {
    text-align: left;
}

.button {
    background-color: #1e1e2f;
    color: white;
    border: 2px solid #1e1e2f;
    padding: 10px 60px;
    border-radius: 4px;
    margin-top: 10px
}

.button:hover {
    background-color: rgb(135, 135, 212);
    color: white;
}

.input-group label {
    float: left;
    font-weight: 100;
}

.input-group {
    width: 400px;
    margin: 0 auto;
}

.info-message {
    visibility: hidden
}